header{
    background-color: #FFC47E;
    color: #AD5300;
}
.esporte-imagem{
       width: 1%;
       
}
.Tecnologia{
       width: 9%;
}
.Agricultura{
       width: 5%;
}
.Moda{
       width: 5%;
}
.Educação{
       width: 5%;
}
.Politica{
      width:  5%;
}
